*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: aqua;
}
.card{
    max-width: 417px;
    height: 800px;
    background: linear-gradient(90deg, #352163 0%, #331972 58%, #33143c 100%);
    color: white;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.weathericon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    padding-bottom: 40px;
}
.details{
    background: linear-gradient(90deg, #957dcd 0%, #523d7f 100%);
    height: 95px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 30px 20px;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 14px;
    margin-top: -6px;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.forecast{
    margin-top: 30px;
    border-radius: 8px;
    width: 350px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.hr{
    width: 58px;
    height: 99px;
    background: linear-gradient(90deg, #957dcd 0%, #523d7f 100%);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}
.forecast img{
    width: 45px;
    height: 45px;
}